.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.row {
    width: 100%;
}

.row h2 {
    text-align: center;
    font-size: 300%;
    margin: 20px 0;
}

.row h3 {
    margin-left: 20px;
    font-size: 200%;
}

.row a {
    color: white;
    background-color: #296EB4;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 20px;
}

.table-responsive {
    display: flex;
    justify-content: center;
}

.users {
    width: 90%;
}

.role {
    width: 40%;
}

.films {
    width: 100%;
}

form {
    width: 80%;
}

.infos_user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.retour {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.film_infos {
    width: 50%;
}

.f {
    display: flex;
    flex-direction: row;
}

.titr {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px 0;
}

.titr h3 {
    font-size: 200%;
}

.form_del {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    width: 40%;
    margin: auto;
    font-size: 150%;
}

.oui {
    font-size: 100%;
    padding: 2px 15px;
    color: white;
    background-color: #296EB4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.non {
    font-size: 100%;
    padding: 2px 15px;
    color: white;
    background-color: #296EB4;
    border: none;
    border-radius: 5px;
}

textarea {
    height: 100px;
}